.products_filter-wrp {
    // padding-top: 39px;
    position: absolute;
    left: 0;


    .catalog-filter-filter {

        .filter-details {
            width: 360px;
            position: relative;
            z-index: 4;
            background: $whiteColor;

            .filter-btn {
                list-style-type: none;
                @include text(600);
                color: $totalBlack;
                text-transform: uppercase;
                cursor: pointer;
                padding: 13px 16px;

                .filter-btn-svg {
                    margin-left: 10px;
                    fill: $totalBlack;
                }
            }

            .filter-btn:hover {
                color: #EF5B70;

                .filter-btn-svg {
                    fill: #EF5B70;
                }

            }

            .filter-body {

                height: 100%;
                //position: absolute;
                z-index: 4;
                padding: 0 16px 0;
                width: 100%;
                box-sizing: border-box;


                .filter-body-list {
                    height: 100%;
                    list-style-type: none;
                    @include text(400);
                    color: $textGreyColor;
                    text-transform: uppercase;
                    border-bottom: 1px solid #ebebeb;
                    border-left: 5px solid #EF5B70;
                    padding: 10px 11px;
                    margin-bottom: 18px;
                    cursor: pointer;
                }

                .filter-body-list:hover {
                    color: #EF5B70;
                }

                .filter-body-list:first-child {
                    margin-top: 3px;
                }

                .filter-body-item {
                    list-style-type: none;
                    @include text(400);
                    padding: 0 0 11px 18px;
                }

                .filter-body-item a {
                    text-decoration: none;
                    color: $textGreyColor;
                }

                .filter-body-item:last-child {
                    padding-bottom: 24px;
                }

                .filter-body-item:first-child {
                    margin-top: 24px;
                }

                .filter-body-item a:hover {
                    color: #EF5B70;
                }
            }

            .filter-body details {
                width: 100%;
            }
        }

        .filter-details:hover {
            box-shadow: 6px 4px 35px #dddd;
        }
    }
}

.products_filter {
    display: flex;
    margin-top: 39px;
    margin-bottom: 65px;
    justify-content: center;
    position: relative;

    .select-list {
        display: flex;

        .select-list-item {
            padding-left: 30px;
            padding-top: 13px;

            .select-list-title {
                list-style-type: none;
                display: flex;
                @include text(400);
                color: $textGreyColor;


                .select-list-svg {
                    padding-left: 10px;
                }
            }

            .list-size-input:focus,
            button:focus {
                outline: none;
            }

            .list-size-input:focus-visible,
            button:focus-visible {
                outline: 2px solid $mainColor;
            }

            .list-size {
                width: 80px;
                border: none;
                background-color: transparent;
                position: relative;
                z-index: 4;

                .list-size-btn-title {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-style: normal;
                    font-weight: normal;
                    @include text(400);
                    color: $textGreyColor;
                    background-color: transparent;
                    text-align: left;
                    text-transform: uppercase;
                    position: relative;
                }

                .list-size-btn-title svg {
                    fill: $textGreyColor;
                    position: absolute;
                    top: 40%;
                    left: 60%;
                }

                .list-size-btn-title:hover {
                    color: $mainColor;
                }

                .list-size-btn-title:hover svg {
                    fill: currentColor;
                }

                .list-size-btn-title:active {
                    color: $totalBlack;
                }

                .list-size-btn-title:active svg {
                    fill: currentColor;
                }

                #switch {
                    display: none;
                }

                #switch:checked~.list-size-wrp {
                    display: flex;
                }

                .list-size-wrp {
                    display: none;
                    flex-direction: column;
                    margin: 5px 0 0 0;
                    padding: 9.5px 9.5px 9.5px 31px;
                    box-sizing: border-box;
                    background-color: $whiteColor;
                    position: absolute;
                }

                .list-size-item {
                    display: none;
                }

                .list-size-item:nth-child(1):checked~.list-size-item-title:nth-child(2):before,
                .list-size-item:nth-child(3):checked~.list-size-item-title:nth-child(4):before,
                .list-size-item:nth-child(5):checked~.list-size-item-title:nth-child(6):before,
                .list-size-item:nth-child(7):checked~.list-size-item-title:nth-child(8):before {
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
                    background-size: cover;
                    background-position: center;
                }

                .list-size-item-title {
                    display: block;
                    margin: 0 0 6px 0;
                    position: relative;
                    text-transform: uppercase;
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: $textGreyColor;

                }

                .list-size-item-title:before {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #EBEBEB;
                    position: absolute;
                    top: 1px;
                    left: -23.5px;
                }
            }
        }
    }
}

.pagination {
    margin-top: 48.5px;
    text-align: -webkit-center;

    .pagination-container {
        border: 1px solid #EBEBEB;
        display: flex;
        width: 283px;
        box-sizing: border-box;
        align-items: center;
    }

    .pagination-link-arrow {
        width: 39px;
        height: 43px;
    }

    .pagination-arrow {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: $DarkColor;
    }

    .pagination-arrow:hover {
        fill: $mainColor;
    }


    .paginaiton-link-numbers {
        @include text1619(300);
        color: #EBEBEB;
        padding: 0 9px;
        text-decoration: none;
    }

    .paginaiton-link-numbers:nth-child(7) {
        padding: 0 0 0 9px;
    }

    .paginaiton-link-numbers:nth-child(8) {
        padding: 0 1px 0 1px;
    }

    .paginaiton-link-numbers:nth-child(9) {
        padding: 0 9px 0 0;
    }

    .paginaiton-link-numbers:hover {
        color: $mainColor;
    }

}