@import 'global.scss';
@import 'common.scss';
@import 'registration.scss';
@import 'cart.scss';
@import 'product.scss';
@import 'catalog.scss';

.main {
    .banner_color {
        background: #F1E4E6;
        min-height: 764px;
        width: 100%;
        transition: all 2s ease;

        .banner {
            display: flex;
            justify-content: flex-end;
            background-image: url(img/index_top.png);
            align-items: center;
            background-repeat: no-repeat;
            min-height: inherit;
            background-size: contain;
            background-position: bottom left -225px;

            .banner-wrp {
                display: block;
                position: relative;
                flex-grow: 1;
                width: 100%;
                max-width: 377px;
                margin: 0 95px 87px 0;


                .banner-title {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 58px;
                    color: $DarkColor;
                    text-transform: uppercase;
                }

                .banner-subtitle {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 37px;
                    color: $DarkColor;
                    display: block;
                }

                .banner-wrp-decor {
                    position: relative;
                }

                .banner-wrp-decor::before {
                    content: "";
                    width: 12px;
                    left: -32px;
                    position: absolute;
                    background: $mainColor;
                    top: 0px;
                    bottom: 0;
                }

            }
        }
    }

    .banner:hover {
        transform: rotate(360deg);
    }

    .categories {
        .categories-item-title {
            @include text1619(400);
            color: $whiteColor;
        }

        .categories-item-subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 28.8px;
            color: $mainColor;
        }

        .categories_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 65px;

            .card_categories {
                width: 360px;
                height: 260px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                transition: all 1s ease;
            }

            .card_categories:nth-child(1) {
                background-image: url(img/for_women.png);
            }

            .card_categories:nth-child(2) {
                background-image: url(img/for_men.png);
            }

            .card_categories:nth-child(3) {
                background-image: url(img/for_kids.png);
            }

            .card_categories:last-child {
                background-image: url(img/sccesories.png);
                width: 100%;
                height: 180px;
                margin-top: 30px;
            }

            .card_categories:hover {
                transform: scale(1.2);
            }


            .card_categories:after {
                background-color: rgba(33, 22, 22, 0.7);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
            }

            .categories-item-txt {
                position: absolute;
                z-index: 4;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .products {
        margin-bottom: 95px;

        .products_text {
            margin-top: 96px;
            margin-bottom: 48px;
            text-align: center;

            .products-title {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: $DarkColor;
                padding-bottom: 6px;
            }

            .products-txt {
                @include text(400);
                color: #9F9F9F;
            }
        }

        .products-btn {
            border: 1px solid #FF6A6A;
            text-decoration: none;
            display: block;
            margin: 48.5px auto auto;
            background-color: transparent;
            height: 48px;
            max-width: 211px;
            width: 100%;
            transition: all 1s ease;
            text-align: center;

            .products-btn-title {
                @include text1619(400);
                color: #F26376;
            }
        }

        .products-btn:hover {
            transform: scale(1.2);
            background: $mainColor;

            .products-btn-title {
                color: $whiteColor;
            }
        }
    }
}