@import 'scss/global';
@import 'scss/common';
@import 'scss/cart';
@import 'scss/product';
@import 'scss/catalog';

.main {
    .banner_color {
        background: #F1E4E6;
        min-height: 764px;
        width: 100%;
        transition: all 2s ease;

        .banner {
            display: flex;
            justify-content: flex-end;
            background-image: url(img/index_top.png);
            align-items: center;
            background-repeat: no-repeat;
            min-height: inherit;
            background-size: contain;
            background-position: bottom left -225px;

            .banner-wrp {
                display: block;
                position: relative;
                flex-grow: 1;
                width: 100%;
                max-width: 377px;
                margin: 0 95px 87px 0;


                .banner-title {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 58px;
                    color: $DarkColor;
                    text-transform: uppercase;
                }

                .banner-subtitle {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 37px;
                    color: $DarkColor;
                    display: block;
                }

                .banner-wrp-decor {
                    position: relative;
                }

                .banner-wrp-decor::before {
                    content: "";
                    width: 12px;
                    left: -32px;
                    position: absolute;
                    background: $mainColor;
                    top: 0px;
                    bottom: 0;
                    height: 92px;
                }

            }
        }
    }

    .banner:hover {
        transform: rotate(360deg);
    }

    .categories {
        .categories-item-title {
            @include text1619(400);
            color: $whiteColor;
        }

        .categories-item-subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 28.8px;
            color: $mainColor;
        }

        .categories_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 65px;

            .card_categories {
                width: 100%;
                max-width: 360px;
                height: 260px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                transition: all 1s ease;
                margin-bottom: 30px;
            }

            .card_categories:nth-child(1) {
                background-image: url(img/for_women.png);
            }

            .card_categories:nth-child(2) {
                background-image: url(img/for_men.png);
            }

            .card_categories:nth-child(3) {
                background-image: url(img/for_kids.png);
            }

            .card_categories:last-child {
                background-image: url(img/sccesories.png);
                max-width: 1140px;
                width: 100%;
                height: 180px;
                margin-bottom: 0;
            }

            .card_categories:hover {
                transform: scale(1.2);
            }


            .card_categories:after {
                background-color: rgba(33, 22, 22, 0.7);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
            }

            .categories-item-txt {
                position: absolute;
                z-index: 4;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .products {
        margin-bottom: 95px;

        .products_text {
            margin-top: 96px;
            margin-bottom: 48px;
            text-align: center;

            .products-title {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: $DarkColor;
                padding-bottom: 6px;
            }

            .products-txt {
                @include text(400);
                color: #9F9F9F;
            }
        }

        .products-btn {
            border: 1px solid #FF6A6A;
            text-decoration: none;
            display: block;
            margin: 48.5px auto auto;
            background-color: transparent;
            height: 48px;
            max-width: 211px;
            width: 100%;
            transition: all 1s ease;
            text-align: center;

            .products-btn-title {
                @include text1619(400);
                color: #F26376;
            }
        }

        .products-btn:hover {
            transform: scale(1.2);
            background: $mainColor;

            .products-btn-title {
                color: $whiteColor;
            }
        }
    }

    .title-registration_color {
        background: #F8F3F4;

        .title-registration {
            height: 148px;
            display: flex;
        }

        .title-registration-txt {
            @include text2429(400);
            color: $mainColor;
            align-self: center;
        }
    }

    .registration-description {
        display: flex;
        padding: 64px 0 96px 0;
        justify-content: space-between;

        .data-to-fill {
            display: flex;
            flex-direction: column;
            max-width: 359px;
            width: 100%;

            .data-to-fill-title {
                @include text1619(300);
                color: $DarkColor;
                margin-bottom: 20.5px;
            }

            .data-to-fill-input {
                box-sizing: border-box;
                max-width: 360px;
                width: 100%;
                height: 45px;
                margin-bottom: 20.5px;
                @include text1316(300);
                color: $totalBlack;
                padding-left: 16.73px;
            }

            .data-to-fill-input::placeholder {
                @include text1316(300);
                color: #B1B1B1;
            }

            .data-to-fill-input:focus {
                outline: 2px solid $mainColor;
                border: 1px solid $mainColor;
            }

            .data-to-fill-input:nth-child(3) {
                margin-bottom: 0;
            }

            .data-to-fill-input:nth-child(8) {
                margin-bottom: 0;
            }

            .gender-radio {
                margin: 31.5px auto 33px auto;
            }

            .gender-radio-box label {
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: $totalBlack;
                margin: 0 20px 0 10px;
            }

            .data-to-fill-txt {
                @include text1316(300);
                color: #B1B1B1;
                margin: 15px 0 39px 0;
            }

            .data-to-fill-btn-txt {
                height: 50px;
                max-width: 167px;
                width: 100%;
                background: $mainColor;
                border: 1px solid $mainColor;
                @include text(400);
                color: $whiteColor;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                box-sizing: border-box;

                .data-to-fill-btn-svg {
                    fill: $whiteColor;
                }
            }

            .data-to-fill-btn-txt:hover {
                color: $mainColor;
                background: $whiteColor;

                .data-to-fill-btn-svg {
                    fill: $mainColor;
                }
            }
        }

        .loyalty-info {
            padding-left: 22px;
            max-width: 652px;
            width: 100%;

            .loyalty-info-title {
                @include text2429(300);
                color: $totalBlack;
            }

            .loyalty-info-subtitle {
                margin-top: 22px;
                @include text2429(300);
                color: $totalBlack;
            }

            .loyalty-info-list {

                .loyalty-info-txt {
                    @include text2429(300);
                    color: $totalBlack;
                    margin-bottom: 16px;
                    list-style-type: none;

                    .loyalty-info-svg {
                        padding-right: 23.08px;
                    }
                }

                .loyalty-info-txt:first-child {
                    margin-top: 27px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .banner_color {
            min-height: 368px;

            .banner {
                background-position: 0;

                .banner-wrp {
                    margin: 0 33px 0 0;
                    max-width: 283px;


                    .banner-title {
                        font-size: 44px;
                        line-height: 53px;
                    }

                    .banner-subtitle {
                        font-size: 24px;
                        line-height: 28.8px;
                    }
                }
            }
        }

        .categories {
            .categories_box {
                padding: 20px 16px 0 16px;

                .card_categories {
                    max-width: 227px;
                    height: 167.6px;
                    margin: 0 19px 20px 0;
                    background-size: 100%;
                }

                .card_categories:last-child {
                    margin: 0;
                    height: 116px;
                }

                .card_categories:nth-child(3) {
                    margin-right: 0;
                }
            }
        }

        .products {
            margin-bottom: 65px;

            .products_text {
                margin-top: 155px;
                margin-bottom: 72.7px;
            }

            .products-btn {
                margin-top: 33px;
            }
        }

        .title-registration_color {
            padding-left: 16px;
        }

        .registration-description {
            padding: 40px 16px 96px 16px;

            .data-to-fill {
                .data-to-fill-input {
                    max-width: 360px;
                }
            }

            .loyalty-info {
                max-width: 360px;

                .loyalty-info-title {
                    @include text1619(300);
                }

                .loyalty-info-subtitle {
                    @include text1619(300);
                }

                .loyalty-info-list {
                    .loyalty-info-txt {
                        @include text1619(300);
                    }
                }
            }
        }
    }
}